{{ define "title" }} Вход {{ end }}
{{ define "content"}}
	{{if (eq .User.Token "")}}
		<script>
			window.location.replace("/login");
		</script>
	{{else}}
		<script>
			window.location.replace("/");
		</script>
	{{end}}
	</div>
{{ end }}
