{{ define "title" }} Список фильмов {{ end }}
{{ define "content" }}
	{{if .Movies}}
<style>
	.pagination {
		width: 150px;
	}
</style>
		<table class="pure-table">
	    <thead>
	        <tr>
	            <th>#</th>
	            <th>Постер</th>
	            <th>Название</th>
	        </tr>
		</thead>

	    <tbody>
			{{range .Movies}}
		        <tr>
		            <td>{{.ID}}</td>
		            <td><img src="{{.Poster}}"></td>
		            <td>
		            	{{if and .IsPaid (not $.User.IsPaid) }}
		            		{{.Name}} (платный)
		            	{{ else }}
		            		<a href="/movie?id={{.ID}}">{{.Name}}</a>
		            	{{end}}
		            </td>
		        </tr>
			{{end}}
		</tbody>
		</table>
	{{else}}
		Не удалось загрузить список
	{{end}}

<div class="pure-menu pure-menu-horizontal">
	<ul class="pure-menu-list">
		<li class="pure-menu-item">
			{{if eq .PagePrev 0 }}
			<a href="" class="pure-menu-link pagination">&nbsp;</a>
			{{else}}
			<a href="/?page={{.PagePrev}}" class="pure-menu-link pagination">&lt; prev page</a>
			{{end}}
		</li>
		<li class="pure-menu-item">
			{{if eq .PageNext 0 }}
			<a href="" class="pure-menu-link pagination">&nbsp;</a>
			{{else}}
			<a href="/?page={{.PageNext}}" class="pure-menu-link pagination">next page &gt;</a>
			{{end}}
		</li>
	</ul>
</div>

{{ end }}
